@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/* Define Variable */
:root {
  --primary-color: #cc9f91;
  --max-width: 1000px;
}

/* Default Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Dosis', sans-serif;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

/* Start Use Grid System */

/* .grid {
  display: grid;
  grid-template-columns: 4fr 3fr;
  background-color: #fff;
  margin: 1rem 0;
  padding: 20px;
}
.grid .item1{
  text-align: center;
  margin-bottom: 1rem;
}


.grid .item1 img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}


.grid .item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(max-width:768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
} */

/* End Use Grid System */

/* Start FlexBox */

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
}

.flex .item-1 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.flex .item-1 img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.flex .item-2 p {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(max-width:768px) {
  .flex {
    display: block;
    width: 100%;
  }
}

/* End FlexBox */
